.slideshow {
    height: 450px;
    width: 100%;
    position: relative;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media (max-width: 1024px) {
        height: 250px;
    }

    img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        padding: 10px;
        background: none;
        color: white;
        font-size: 5em;
        cursor: pointer;

        @media (max-width: 1024px) {
            font-size: 1.5em;
            padding: 0;
        }
    }

    button:first-of-type {
        left: 10px;
    }

    button:last-of-type {
        right: 10px;
    }

    &__counter {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 1.25em;
        font-weight: 500;
        text-shadow: 1px 1px 1px black, 0 0 1em black;

        @media (max-width: 1024px) {
            display: none;
        }
    }
}
