header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 50px;
}
header img {
  height: 50px;
}
header nav {
  display: flex;
  font-size: 1.25em;
  gap: 50px;
}