header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 50px;
}
@media (max-width: 1024px) {
  header {
    margin: 15px 15px;
  }
}
header img {
  height: 50px;
}
@media (max-width: 1024px) {
  header img {
    height: 35px;
  }
}
header nav {
  display: flex;
  font-size: 1.25em;
  gap: 50px;
}
@media (max-width: 1024px) {
  header nav {
    font-size: 1em;
    gap: 25px;
  }
}
header nav .nav-link {
  text-decoration: none;
}
header nav .nav-link.active {
  text-decoration: underline;
}