.cards {
    margin: 50px;
    border-radius: 25px;
    padding: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #F6F6F6;
    gap: 75px;

    @media (max-width: 1024px) {
        margin: 25px 0;
        padding: 15px;
        grid-template-columns: 1fr;
        background: none;
        gap: 25px;
    }
}

.card {
    height: 350px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 1024px) {
        height: 250px;
        width: 100%;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h2 {
        width: 75%;
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: white;
        font-size: 1.25em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);

        @media (max-width: 600px) {
            font-size: 1em;
        }
    }
}
