.cards {
  margin: 50px;
  border-radius: 25px;
  padding: 75px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #F6F6F6;
  gap: 75px;
}
@media (max-width: 768px) {
  .cards {
    margin: 25px 0;
    padding: 15px;
    background: none;
    gap: 25px;
  }
}

.card {
  height: 350px;
  width: 350px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .card {
    height: 250px;
    width: 100%;
  }
}
.card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card h2 {
  width: 75%;
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 1.25em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}
@media (max-width: 768px) {
  .card h2 {
    font-size: 1em;
  }
}