header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px;

    @media (max-width: 1024px) {
        margin: 15px 15px;
    }

    img {
        height: 50px;

        @media (max-width: 1024px) {
            height: 35px;
        }
    }

    nav {
        display: flex;
        font-size: 1.25em;
        gap: 50px;

        @media (max-width: 1024px) {
            font-size: 1em;
            gap: 25px;
        }

        .nav-link {
            text-decoration: none;
        }
        
        .nav-link.active {
            text-decoration: underline;
        }
    }
}
